.somos-title{
    width: auto;
    height: auto;
    color: black;
    /* background-color: #375E97 ; */
    padding: 10px;
    display: flex;
    border-radius: 10px;
    
}

.lineas-container{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #375E97 ;
    box-decoration-break: slice;
    border-radius: 10px;
    height: 268px;
}



.content-servicios{
    padding-left: 10px;
    padding-right: 10px;
    box-decoration-break: slice;
    border-radius: 10px;
    height: 268px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFBB00;
    
}


.lineas-tittle{
    width: 650px;
    height: auto;
    /* background-color: #FB6542;  */
    display: flex;
    border-radius: 10px;
    
}

.lineas{
    width: 100%;
    height: 100%;
    text-align: center;
    color: black
}


.servicios-tittle{
    width: 400px;
    height: auto;
    /* background-color: #FFBB00; */
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    color: black 

}
  
.mision-tittle{
    width: 400px;
    height: auto;
    /* background-color: #375E97; */
    text-align: end;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    color: black;
}

.vision-tittle{
    width: 400px;
    height: auto;
    /* background-color: #3F681C; */
    text-align: center;
    justify-content: flex-end;
    border-radius: 10px;
    color: black;

}
.text-somos{
    font-size: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .text-mis-vis {
        font-size: 14px; /* Tamaño de letra más pequeño para dispositivos móviles */
    }
    .text-somos{
        font-size: 15px;
        text-align: justify;
    }
    .somos-title {
        font-size: 25px; 
        height: auto;
        border-bottom: auto solid #375E97;/* Ajusta verticalmente el texto */
    
    }
    .lineas-tittle{
        text-align: center;
        padding: 0px;
        font-size: 30px;

    }
    .servicios-tittle{
        text-align: center;
        padding: 0px;
        font-size: 40px;
    }
    .mision-tittle{
        text-align: center;
        padding: 0px;
        font-size: 40px;
    }
    .vision-tittle{
        text-align: center;
        padding: 0px;
        font-size: 40px;
        justify-content: center;
    }
    .img-imacuna{
        margin: 0px 0px 0px 0px;
        align-content: center;
        width: 100px;
        height: 60px;
    }
    .footer-imacuna{
        font-size: 15px;
    }
    .social-media{
        width: "1px";
        height: "2px";
        padding: 0px;
    }
}

.text-mis-vis{
    text-align: justify;
    font-size: 20px;
}

.imagen-zoom {
    transition: transform 0.3s; /* Transición suave */
  }
  
  .imagen-zoom:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor sobre la imagen */
  }
